<div class="container div-bg">
    <div class="card  div-card">
        <div class="card-body ">
            <div class="col">
                <h4 class="flightFont">Passengers List</h4>
            </div>
            <!-- <div class="col">
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2 <span class="sr-only"></span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div> -->
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Dob</th>
                            <th scope="col">Age</th>
                            <!-- <th scope="col">Address</th> -->
                            <!-- <th scope="col">Id Card Type</th>
                            <th scope="col">Id Card Number</th> -->
                            <th scope="col">Gender</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of passengers;let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{item.name}}</td>
                            <td>{{item.dob | date}}</td>
                            <td>{{item.age}}</td>
                            <!-- <td>{{item.address}}</td> -->
                            <!-- <td>{{item.idCardNo}}</td>
                            <td>{{item.idCardNo}}</td> -->
                            <td>{{item.gender}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.phone}}</td>
                            <td><Button class="btn btn-primary" >
                                    <fa-icon icon="pen-to-square"></fa-icon>
                                </Button></td>
                            <td> <Button class="btn btn-light">
                                    <fa-icon icon="trash"></fa-icon>
                                </Button> </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>