/* You can add global styles to this file, and also import other style files */
body{
    background-color: #ebcd34;
}
@font-face {
    font-family: 'Quicksand_Dash';
    src: url('/assets/fonts/Quicksand_Dash.ttf');
 }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.has-danger{
    border: red 1px solid !important;
}
.flightFont{
    font-weight: bold; color: #eb8034;
}
.div-card{
    padding: 5%;
    padding-bottom: 10%;
    margin-left: 15%;
    margin-right: 15%;
}
.div-bg{
    background-color: rgb(225, 231, 238);
    width: 100%;
    padding: 2%;
}