<div class="container div-bg">
    <div class="card  div-card">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
        <div class="alert alert-success" role="alert" *ngIf="successMessage">
            {{successMessage}} {{bookingResponse.pnrNumber}}
        </div>
        <div class="card-body " *ngIf="successMessage">
            <button class="primary btn">View Ticket</button>
        </div>
        <div class="card-body " *ngIf="!successMessage">
            <h3 class="flightFont">Book Ticket</h3>
            <div class="form-row row">
                <div class="form-group col-md-6 ">
                    <label for="airLine">Source Location</label>
                    <input type="text" class="form-control rd_only" id="sourceLocation" required
                        [(ngModel)]="flightSchedule.sourceLocation" name="sourceLocation" readonly
                        aria-describedby="Source  Locaton" placeholder="Enter Source Location"
                        [ngClass]="{'has-danger': sourceLocation.invalid && (sourceLocation.dirty || sourceLocation.touched)}"
                        #sourceLocation="ngModel">
                </div>
                <div class="form-group col-md-6">
                    <label for="destination">Destination</label>
                    <input type="text" class="form-control rd_only" id="destination" required
                        [(ngModel)]="flightSchedule.destination" name="destination" readonly
                        aria-describedby="Destination" placeholder="Enter destination"
                        [ngClass]="{'has-danger': destination.invalid && (destination.dirty || destination.touched)}"
                        #destination="ngModel">
                </div>
            </div>
            <div class="form-row row">
                <div class="form-group col-md-6">
                    <label for="model">Departure Time</label>
                    <!-- ngmodel pipe integration -->
                    <input type="text" class="form-control rd_only" readonly
                        [ngModel]="flightSchedule.departureTime | date:'medium' " name="departureTime"
                        aria-label="Departure Date" #departureTime="ngModel">
                </div>
                <div class="form-group col-md-6">
                    <label for="model">Arrival Time</label>
                    <input type="text" class="form-control rd_only" readonly
                        [ngModel]="flightSchedule.arrivalTime | date:'medium' " name="arrivalTime"
                        aria-label="Arrival time" #arrivalTime="ngModel">
                </div>
            </div>
            <div class="form-row row" *ngIf="flightCost">
                <div class="form-group col-md-6">
                    <label for="model">Flight Cost</label>
                    <span class="price-span form-control">{{flightCost| currency:"INR":"symbol"}}</span>
                </div>
            </div>
            <!-- ********** Reactive Form **********  -->
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <br>
                <h3>Passengers</h3>
                <div formArrayName='ticketDetail'>
                    <div *ngFor="let item of ticketDetails.controls;let i=index" [formGroupName]="i">
                        <div class="card  div-card-small shadow p-3 mb-5 bg-body rounded">
                            <div class="card-body ">
                                <div class="form-row row">
                                    <div class="form-group col-md-6">
                                        <label for="airLine">Passenger</label>
                                        <select class="form-control" formControlName="passengerId"
                                            [ngClass]="{'has-danger': item.get('passengerId').invalid && ( item.get('passengerId').dirty ||  item.get('passengerId').touched)}">
                                            <option *ngFor="let passenger of passengers" [value]="passenger.id">
                                                {{passenger.name}}</option>
                                        </select>
                                    </div>

                                    <!-- <div class="form-group col-md-6">
                                <label for="airLine">Gender</label>
                                <input type="text" class="form-control rd_only" readonly
                                [ngModel]="flightSchedule.departureTime | date:'medium' " name="departureTime"
                                aria-label="Departure Date" #departureTime="ngModel">
                            </div> -->
                                </div>
                                <div class="form-row row">
                                    <div class="form-group col-md-6">
                                        <label for="airLine">Meal Type</label>
                                        <select class="form-control" formControlName="mealType"
                                            [ngClass]="{'has-danger': item.get('mealType').invalid && ( item.get('mealType').dirty ||  item.get('mealType').touched)}">
                                            <option value="veg">Veg</option>
                                            <option value="nonVeg">nonVeg</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="airLine">Flight Type</label>
                                        <select class="form-control" formControlName="flightClass"
                                            (change)="onChange(item)"
                                            [ngClass]="{'has-danger': item.get('flightClass').invalid && ( item.get('flightClass').dirty ||  item.get('flightClass').touched)}">
                                            <option value="business">BusinessClass</option>
                                            <option value="economy">EconomyClass</option>
                                        </select>
                                    </div>
                                </div>
                                <a href="#" class="card-link"><fa-icon icon="trash"></fa-icon></a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button class="btn btn-success" type="button" mat-raised-button color="primary" (click)="addPassenger()">Add
                    addPassenger</button>
                <br>
                <br>
                <div class=" form-row row">
                    <div class="col-md-1">
                        <button type="submit" [disabled]="form.invalid || (!form.touched || !form.dirty)"
                            class="btn btn-primary">Book</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>