<nav class="navbar navbar-expand-lg nav-bar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/icons/ticket.png" alt="Bootstrap" width="30" height="30"
                class="d-inline-block align-text-top">
            <span class="flightFont">Flight App</span>

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="flightFont" [routerLink]="['/flight']" aria-current="page" href="#" > <span >Book Flight</span> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="flightFont" [routerLink]="['/pnr']" aria-current="page" href="#" > <span >Manage Booking</span> </a>
                </li>
                <li class="nav-item dropdown" *ngIf="isLoggedIn && isAdmin">
                    <a class="nav-link dropdown-toggle" routerLinkActive="flightFont" [routerLink]="['/admin']" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" [routerLink]="['/admin/register/flight']" href="#">Register New Flight</a>
                      <a class="dropdown-item" [routerLink]="['/admin/flight']" href="#">Flight List</a>
                      <a class="dropdown-item" [routerLink]="['/admin/flight/schedule']" href="#">Manage Flight Schedules</a>
                      <!-- <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a> -->
                    </div>
                  </li>
                  <li class="nav-item dropdown" *ngIf="isLoggedIn && !isAdmin">
                    <a class="nav-link dropdown-toggle" routerLinkActive="flightFont" [routerLink]="['/user']" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      User
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" [routerLink]="['/user/passenger']" href="#">Add Passenger</a>
                      <a class="dropdown-item" [routerLink]="['/user/passenger/data']" href="#">Passengers</a>
                      <a class="dropdown-item" [routerLink]="['/user/booking/history']" href="#">Booking History</a>
                    </div>
                  </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li> -->
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item" *ngIf="isLoggedIn">
              <a class="nav-link" (click)="logout()"  href="#">Logout</a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn">
              <a class="nav-link" [routerLink]="['/login']"  href="#">login</a>
            </li>
          </ul>
        </div>
    </div>
</nav>