<div class="container div-bg">
    <div class="card  div-card">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
        <div class="alert alert-success" role="alert" *ngIf="successMessage">
            {{successMessage}}
        </div>
        <div class="card-body ">
            <form #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="flight">
                <h3 class="flightFont" *ngIf="!isUpdate">Register New Flights</h3>
                <h3 class="flightFont" *ngIf="isUpdate">Update Flight Data</h3>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label for="airLine">AirLine</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="airLine" required [(ngModel)]="flight.airlineId"
                                name="airlineId" #airlineId="ngModel" [ngClass]="{
                                'has-danger': airlineId.invalid && (airlineId.dirty || airlineId.touched)}">
                                <option *ngFor="let item of airLineList" [value]="item.id">{{item.airlineName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="flightCode">Flight Code</label>
                        <input type="text" class="form-control" id="flightCode" required [(ngModel)]="flight.flightCode"
                            name="flightCode" [readonly]="isUpdate" aria-describedby="Flight Code"
                            placeholder="Enter Flight Code"
                            [ngClass]="{'has-danger': flightCode.invalid && (flightCode.dirty || flightCode.touched)}"
                            #flightCode="ngModel">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label for="flightRowCount">Flight Row Count</label>
                        <input type="number" class="form-control" id="flightRowCount" required
                            [(ngModel)]="flight.flightRowCount" name="flightRowCount"
                            aria-describedby="Flight Row Count" placeholder="Enter Flight Row Count"
                            [ngClass]="{'has-danger': flightRowCount.invalid && (flightRowCount.dirty || flightRowCount.touched)}"
                            #flightRowCount="ngModel">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="businessClassSeatCount">BusinessClass Seat Count</label>
                        <input type="number" class="form-control" id="businessClassSeatCount"
                            [(ngModel)]="flight.businessClassSeatCount" name="businessClassSeatCount" required
                            aria-describedby="Business class Seat Count" placeholder="Enter Seat Count"
                            [ngClass]="{'has-danger': businessClassSeatCount.invalid && (businessClassSeatCount.dirty || businessClassSeatCount.touched)}"
                            #businessClassSeatCount="ngModel">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label for="economyClassSeatCount">EconomicClass Seat Count</label>
                        <input type="number" class="form-control" id="economyClassSeatCount"
                            [(ngModel)]="flight.economyClassSeatCount" name="economyClassSeatCount" required
                            aria-describedby="Economy class Seat Count" placeholder="Enter Seat Count"
                            [ngClass]="{'has-danger': economyClassSeatCount.invalid && (economyClassSeatCount.dirty || economyClassSeatCount.touched)}"
                            #economyClassSeatCount="ngModel">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="model">Aircraft Model</label>
                        <input type="text" class="form-control" id="model" required [(ngModel)]="flight.aircraftModel"
                            name="aircraftModel" placeholder="Aircaft Model"
                            [ngClass]="{'has-danger': aircraftModel.invalid && (aircraftModel.dirty || aircraftModel.touched)}"
                            #aircraftModel="ngModel">
                    </div>

                </div>
                <div class="form-row row">
                    <div class="col-md-6">
                        <label for="status">Flight Status</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="gridRadios1" required [(ngModel)]="status"
                                name="status" value="active" checked>
                            <label class="form-check-label" for="gridRadios1">
                                Active
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="gridRadios2" required value="inactive"
                                ngModel name="status" [(ngModel)]="status">
                            <label class="form-check-label" for="gridRadios2">
                                Inactive
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" form-row row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5 form-check">
                        <input type="checkbox" class="form-check-input" id="internationl" name="internationalService"
                            [(ngModel)]="internationalService" [checked]="internationalService">
                        <label class="form-check-label" for="internationl">Internationl</label>
                    </div>
                    <div class="form-group col-md-5 form-check">
                        <input type="checkbox" class="form-check-input" id="domestic" [(ngModel)]="domesticService"
                            name="domesticService" [checked]="domesticService">
                        <label class="form-check-label" for="domestic">Domestic</label>
                    </div>
                </div>
                <button *ngIf="!isUpdate" type="submit" [disabled]="form.invalid || (!form.touched || !form.dirty)"
                    class="btn btn-primary">Register</button>
                <button *ngIf="isUpdate" type="submit" [disabled]="form.invalid || (!form.touched || !form.dirty)"
                    class="btn btn-primary">UPDATE</button>
            </form>
        </div>
        <!-- <div class="col row">
            <div class="col-9">
                <h4 class="flightFont">Flight Schedule</h4>
            </div>
            <div class="col-3"> <button class="btn btn-info ">ADD SCHEDULE</button></div>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Flight Code</th>
                        <th scope="col">aircraftModel</th>
                        <th scope="col">Seat Count</th>
                        <th scope="col">Status</th>
                        <th scope="col">Internationl</th>
                        <th scope="col">Domestic</th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of flights;let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.flightCode}}</td>
                        <td>{{item.aircraftModel}}</td>
                        <td>{{item.flightRowCount}}</td>
                        <td>{{item.status}}</td>
                        <td>{{(item.internationalService=='1')?'YES': 'NO'}}</td>
                        <td>{{item.domesticService=='1'?'YES':'NO'}}</td>
                        <td><Button class="btn btn-primary">
                                <fa-icon icon="pen-to-square"></fa-icon>
                            </Button></td>
                        <td> <Button class="btn btn-light">
                                <fa-icon icon="trash"></fa-icon>
                            </Button> </td>
                    </tr>
                </tbody>
            </table>

        </div> -->
    </div>
</div>